/* Site Stylesheet
  1. Global Styles
  2. Color Styles
  3. Fonts
  4. Text styles
  5. Section styles

======================================== */

/* 1. Global Styles
======================================== */

section{
  margin-top: 3rem;
}

h1{
  text-align: center;
  padding: 3rem;
}

a{
  text-decoration: none;
  color: white;
}
body{
  min-height: 100vh;
  padding: 0 9rem;
  color: #333;
  background-image: url('resources/marek-piwnicki-LGgKrtjNsoI-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* 2. Color Styles
======================================== */

/* Color Theme Swatches in Hex */
.color-theme-1 {color: #1E1F23; }
.color-theme-2 {color: #2F406C; }
.color-theme-3 {color: #FAB29C; }
.color-theme-4 {color: #FFF2EF; }

/* 3. Fonts
======================================== */

html{
  font-size: 18px;
}

h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h1{font-size: 3rem;}
h2{font-size: 1.5rem;}
h3{font-size: 1rem;
  line-height: 1.5rem;
}

p{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  max-width: 700px;
  min-width: 20rem;
  line-height: 1.5rem;
}

/* 4. Text styles
======================================== */

/* 5. Section styles
======================================== */

.shadow-right{
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.77);
}
.shadow-left{
  box-shadow: -5px 5px 12px rgba(0, 0, 0, 0.77);
}
.shadow-center{
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.77);
}

section{
  padding: 1.5rem;
}

#story{
  margin: 1.5rem auto;
  text-align: center;
}

section h2{
  margin-bottom: 0.6rem;
}

.light{
  background-color: #fab29ce1;
  color: #1E1F23;
}

.dark{
  background-color: #2f406ce1;
  color:#FFF2EF;
}

#projects a{
  display: block;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5rem;
  color: #46265E;
}

.small{
  max-width: 20rem;
}

.long{
  max-width: 700px;
}

.grid2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.grid3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

#frontEnd{
  height: 30rem;
}

.bold{
  font-weight: 600;
}

footer{
  padding: 3rem;
  color:#FFF2EF;
  display: grid;
  justify-items: center;
}

footer h2{
  margin-bottom: 2rem;
}

@media only screen and (max-width: 740px) {
  html{
    font-size: 14px;
  }
  .grid2{
    grid-template: 1fr / 1fr;
  }
  .grid3{
    grid-template: 1fr / 1fr;
  }
  body{
    padding: 0 3rem;
  }
}